@{
    ViewData["Title"] = "Dashboard";
    Layout = "_dashlayout";
}
<style>
    .content {
        background-color: rgba(192, 192, 192, 0.3);
        padding: 20px;
    }

    #calorieWarning {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        color: darkred;
    }

    .container-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: black;
        margin-left: 20px;
    }

    #weekly-chart {
        background-color: lightgrey;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: 2px solid #ccc;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 60px;
    }

    .weekly-chart-wrapper {
        max-width: 50%;
        margin-left: 20px;
    }

    .short-date-picker {
        width: 150px;
    }
</style>

<div class="content">
    <div class="date-range-warning">Lütfen görmek istediğiniz tarih aralığını seçiniz:</div>
    <input type="date" id="startDatePicker" class="form-control short-date-picker">
    <input type="date" id="endDatePicker" class="form-control short-date-picker">
    <button id="showWeeklyCaloriesButton" class="btn btn-primary">Haftalık Kalorileri Göster</button>
    <div class="chart-container" id="weekly-chart">
        <div class="container-title">7 Günlük Besin Girişi</div>
        <div class="weekly-chart-wrapper">
            <canvas id="weeklyCaloriesChart"></canvas>
        </div>
    </div>
</div>

<div class="content">
    <label for="datePicker">Tarih Seç:</label>
    <input type="date" id="datePicker" class="form-control short-date-picker">
    <button id="showNutrientsButton" class="btn btn-primary">Eklenilen Besinleri Göster</button>

    <div id="nutrientsTable" style="display:none; margin-top: 20px;">
        <h2>Eklenilen Besinler</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Besin</th>
                    <th>Miktar (gram)</th>
                    <th>Kalori (100 gram başına)</th>
                    <th>Aksiyon</th>
                </tr>
            </thead>
            <tbody id="nutrientsBody">
                <!-- Nutrient records will be added here -->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="text-align:right;"><strong>Toplam Kalori:</strong></td>
                    <td id="totalCalories" style="font-weight:bold;"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="chart-container" style="margin-top: 20px;">
        <canvas id="dailyCaloriesChart"></canvas>
    </div>
    <div id="calorieWarning"></div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        var dailyCalories = 0;
        var consumedCalories = 0;

        $(document).ready(function () {
            var ctx = document.getElementById('dailyCaloriesChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Tüketilen Kaloriler', 'Kalan Kaloriler'],
                    datasets: [{
                        label: 'Günlük Kaloriler',
                        data: [totalCalories, dailyCalories - totalCalories],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)', // Consumed calories
                            'rgba(54, 162, 235, 0.5)'  // Remaining calories
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    cutoutPercentage: 80,
                    legend: {
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Günlük Kalori Durumu',
                    }
                }
            });

            $('#showNutrientsButton').click(function () {
                var selectedDate = $('#datePicker').val();
                if (selectedDate) {
                    $.ajax({
                        url: '@Url.Action("GetUserNutrientsByDate", "Nutrient")',
                        type: 'GET',
                        data: { date: selectedDate },
                        success: function (response) {
                            var nutrientsBody = $('#nutrientsBody');
                            nutrientsBody.empty();
                            if (response.length > 0) {
                                $.each(response, function (index, item) {
                                    var caloriesPer100Grams = parseInt(item.caloryNutrient.cals_per100grams.replace(" cal", "")) || 0;
                                    var totalCaloriesPerItem = (item.quantity / 100 * caloriesPer100Grams).toFixed(2);

                                    var row = '<tr>'
                                        + '<td>' + new Date(item.dateLogged).toLocaleDateString() + '</td>'
                                        + '<td>' + item.caloryNutrient.foodItem + '</td>'
                                        + '<td>' + item.quantity + '</td>'
                                        + '<td>' + caloriesPer100Grams + ' cal</td>'
                                        + '<td><button class="btn btn-danger btn-delete" data-id="' + item.userNutrientId + '">Sil</button></td>'
                                        + '</tr>';
                                    nutrientsBody.append(row);
                                });

                                $.ajax({
                                    url: '@Url.Action("GetTotalCaloriesByDate", "Nutrient")',
                                    type: 'GET',
                                    data: { date: selectedDate },
                                    success: function (caloriesResponse) {
                                        $('#totalCalories').text(caloriesResponse.success ? 'Toplam Kalori: ' + caloriesResponse.totalCalories : 'Veri bulunamadı');
                                        $.ajax({
                                            url: '@Url.Action("DailyCalories", "Nutrient")',
                                            type: 'GET',
                                            success: function (dailyResponse) {
                                                dailyCalories = dailyResponse.success ? dailyResponse.dailyCalories : 0;
                                                consumedCalories = caloriesResponse.success ? caloriesResponse.totalCalories : 0;

                                                updateChart(consumedCalories, dailyCalories);
                                            },
                                            error: function () {
                                                alert('Günlük kalori bilgisini çekerken hata oluştu.');

                                            }
                                        });
                                    },
                                    error: function () {
                                        alert('Toplam kalori verilerini çekerken hata oluştu.');
                                    }
                                });

                                $('#nutrientsTable').show();
                            } else {
                                nutrientsBody.append('<tr><td colspan="5">Kayıt bulunamadı</td></tr>');
                                $('#totalCalories').text('');
                                $('#nutrientsTable').show();
                            }
                        },
                        error: function () {
                            alert('Besin kayıtlarını çekerken hata oluştu.');
                        }
                    });
                } else {
                    alert('Lütfen bir tarih seçin.');
                }
            });

            $('#nutrientsBody').on('click', '.btn-delete', function () {
                var nutrientId = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("DeleteUserNutrient", "Nutrient")',
                    type: 'POST',
                    data: { userNutrientId: nutrientId },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            $('#showNutrientsButton').click();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Besin silinirken hata oluştu.');
                    }
                });
            });

            function updateChart(consumedCalories, dailyCalories) {
                var isExceeded = consumedCalories > dailyCalories;

                chart.data.datasets[0].data = [consumedCalories, dailyCalories - consumedCalories];
                chart.data.datasets[0].backgroundColor = isExceeded ? ['rgba(255, 0, 0, 0.5)', 'rgba(255, 0, 0, 0.2)'] : ['rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)'];
                chart.update();

                var warningMessage = isExceeded ? `Günlük kalori limitiniz: ${dailyCalories}. Limitinizi ${consumedCalories - dailyCalories} kalori aştınız!` : '';
                $('#calorieWarning').text(warningMessage);
            }

            function fetchWeeklyCalories(startDate, endDate) {
                $.ajax({
                    url: '@Url.Action("GetWeeklyCalories", "Nutrient")',
                    type: 'GET',
                    data: { startDate: startDate, endDate: endDate },
                    success: function (response) {
                        var dates = response.map(item => new Date(item.date).toLocaleDateString());
                        var totalCalories = response.map(item => item.totalCalories);

                        weeklyCaloriesChart.data.labels = dates;
                        weeklyCaloriesChart.data.datasets[0].data = totalCalories;
                        weeklyCaloriesChart.update();
                    },
                    error: function () {
                        alert('Haftalık kalori verilerini çekerken hata oluştu.');
                    }
                });
            }

            var ctxWeekly = document.getElementById('weeklyCaloriesChart').getContext('2d');
            var weeklyCaloriesChart = new Chart(ctxWeekly, {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Toplam Kaloriler',
                        data: [],
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            beginAtZero: true
                        }
                    }
                }
            });

            function fetchDailyCalories(date) {
                $.ajax({
                    url: '@Url.Action("GetTotalCaloriesByDate", "Nutrient")',
                    type: 'GET',
                    data: { date: date },
                    success: function (caloriesResponse) {
                        $('#totalCalories').text(caloriesResponse.success ? 'Toplam Kalori: ' + caloriesResponse.totalCalories : 'Veri bulunamadı');
                        $.ajax({
                            url: '@Url.Action("DailyCalories", "Nutrient")',
                            type: 'GET',
                            success: function (dailyResponse) {
                                dailyCalories = dailyResponse.success ? dailyResponse.dailyCalories : 0;
                                consumedCalories = caloriesResponse.success ? caloriesResponse.totalCalories : 0;

                                updateChart(consumedCalories, dailyCalories);
                            },
                            error: function () {
                                alert('Günlük kalori bilgisini çekerken hata oluştu.');
                            }
                        });
                    },
                    error: function () {
                        alert('Toplam kalori verilerini çekerken hata oluştu.');
                    }
                });
            }


            var today = new Date().toISOString().split('T')[0];
            var past7Days = new Date();
            past7Days.setDate(past7Days.getDate() - 6);
            var last7Days = past7Days.toISOString().split('T')[0];
            fetchWeeklyCalories(last7Days, today);
            fetchDailyCalories(today);

            $('#showWeeklyCaloriesButton').click(function () {
                var startDate = $('#startDatePicker').val();
                var endDate = $('#endDatePicker').val();
                if (startDate && endDate) {
                    fetchWeeklyCalories(startDate, endDate);
                } else {
                    alert('Lütfen başlangıç ve bitiş tarihlerini seçin.');
                }
            });
        });
    </script>
}
